/*input {
    width: 272px;
    height: 40px;
    padding: 0 0 0 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: transparent;
    font-size: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

input:hover {
    border-color: #000000;
}

input:focus {
    border-color: #4E75FF;
}

input:disabled {
    border-color: #808080;
    color: #808080;
    cursor: not-allowed;
}

button {
    width: 75px;
    height: 40px;
    padding: 8px 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #4E75FF;
    background-color: #4E75FF;
    color: #FFFFFF;
}

button:disabled {
    border: 1px solid #CFCFCF;
    background-color: #CFCFCF;
    color: #989898;
}

button:is(:hover, :focus) {
    border: 1px solid #6C8CFF;
    background-color: #6C8CFF;
    color: #FFFFFF;
}


*/



/*.flatpickr-day.selected {
    background-color: transparent !important;
    border: 1px solid #4E75FF !important;
    color: #000000 !important;
}

.flatpickr-calendar {
    background-color: #F5F5F5 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 280px !important;
    padding: 16px 0px 0px 0px !important;
    border-radius: 8px !important;
    font-family: Montserrat !important;
    font-size: 16px !important;
    letter-spacing: 0.04em !important;
    gap: 22px !important;

}

.flatpickr-innerContainer {
    width: 248px;
    height: 224px;
    gap: 16px;
    margin: 24px 16px 16px 16px;
}

.flatpickr-monthDropdown-months {
    font-family: Montserrat !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 19.5px !important;
    text-align: center;
}

.numInput.cur-year {
    font-family: Montserrat !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 19.5px !important;
    text-align: center;
}*/